<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.localmart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".auth.SignupScreen"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".account.settings.SettingsScreen" />
        <activity android:name=".product.AddProductActivity" />
        <activity android:name=".account.communities.CommunitiesScreen" />
        <activity android:name=".account.AccountScreen" />
        <activity android:name=".account.profile.ProfileScreen" />
        <activity android:name=".search.SearchFragment" />
        <activity android:name=".product.ProductListScreen" />
        <activity android:name=".categories.CategoriesScreen" />
        <activity android:name=".auth.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>